<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">
  <channel>
    <title>W3School Home Page</title>
    <link>http://localhost:3000/</link>
    <description>Free web building tutorials</description>
    <item>
      <title>RSS Tutorial</title>
      <link>http://localhost:3000/?page=1</link>
      <description>New RSS tutorial on W3School</description>
    </item>
    <item>
      <title>XML Tutorial</title>
      <link>http://localhost:3000/?page=2</link>
      <description>New XML tutorial on W3School</description>
    </item>
    <item>
      <title>123</title>
      <link>http://localhost:3000/?page=3</link>
      <description>New XML tutorial on W3School</description>
    </item>
  </channel>
</rss>